{% extends 'base.html' %}
{% load static %}


{% block contents %}

<footer class="site-footer">
    <div class="container">
        <div class="footer-content">
            <h4>Connecting Skilled Workers with Clients, Seamlessly.</h4>
            <p>At Jacom, we specialize in matching skilled professionals with clients to ensure exceptional project outcomes.</p>

            <div class="contact-info">
                <h5>Contact Us</h5>
                <ul>
                    <li>Email: teamjacom@gmail.com</li>
                    <li>Phone: +234-7068-90-5564</li>
                </ul>
            </div>

            <div class="social-icons">
                <!-- Add your social media icons/links here -->
                <!-- Example: -->
                <a href="#" class="social-icon">Facebook</a>
                <a href="#" class="social-icon">Twitter</a>
                <a href="#" class="social-icon">LinkedIn</a>
            </div>

            <div class="Copyright-info">
                <p>Copyright © 2023 Jacom. All rights reserved.</p>
            </div>
        </div>
        
    </div>
</footer>

{% endblock %}