{% extends 'base.html' %}
{% load static %}

{% block contents %}

<div>
    <h1>Privacy Policy</h1>
    <p>Welcome to JACOM! Your privacy is important to us. This Privacy Policy
        <br>explains how we collect, use, disclose, and safeguard your personal information when you
        <br>use our platform.
    </p>
</div>

<div>
    <div><img src="{% static './images/' %}"></div>
    <div><img src="{% static './images/' %}"></div>
</div>

<div>
    <ol>

        <div>
            <h2>
                <li>Information We Collect</li>
            </h2>
            <p>
                We may collect the following types of personal information:
                <ul>
                    <li>Account Information: When you register for an account, we collect your name, email
                        <br>address, phone number, and other account-related details.
                    </li>
                    <li>Profile Information: Users can create profiles, including skills, work experience, and
                        <br>portfolio items, which may contain personal information.
                    </li>
                    <li>Communication Data: We collect information from your communications on our platform,
                        <br>such as messages and feedback.
                    </li>
                    <li>Payment Information: If you make transactions through our platform, we collect payment
                        <br>details, including credit card information and billing addresses.
                    </li>
                    <li>Usage Data: We collect data about your interactions with our platform, including pages
                        <br>visited, features used, and other actions.
                    </li>
                </ul>
            </p>
        </div>

        <div>
            <h2>
                <li>How We Use Your Information</li>
            </h2>
            <p>
                We use your personal information for the following purposes:
                <ul>
                    <li>To Provide Services: We use your information to connect skilled workers with clients,
                        <br> 
                        facilitate transactions, and provide customer support.
                    </li>
                    <li>To Improve Our Platform: We analyze usage data to enhance the user experience, develop
                        <br>new features, and optimize our services.
                    </li>
                    <li>To Communicate: We may send you updates, notifications, and promotional materials
                        <br>based on your communication preferences.
                    </li>
                </ul>
            </p>
        </div>

        <div>
            <div><img src="{% static './images/' %}"></div>
            <div><img src="{% static './images/' %}"></div>
        </div>

        <div>
            <h2>
                <li>Information Sharing</li>
            </h2>
            <p>
                We do not sell, trade, or rent your personal information to third parties. We may share your
                <br>information in the following circumstances:
                <ul>
                    <li>With Your Consent: We may share your information when you provide us with 
                        <br>explicit consent to do so.
                    </li>
                    <li>For Legal Reasons: We may disclose your information to comply with applicable laws,
                        <br>regulations, or legal processes.
                    </li>
                    <li>To Service Providers: We may share your information with trusted third-party service
                        <br>providers who assist us in operating our platform and providing services.
                    </li>
                </ul>
            </p>
        </div>

        <div>
            <h2>
                <li>Data Security</li>
            </h2>
            <p>
                We implement security measures to protect your personal information from unauthorized
                <br>access, alteration, disclosure, or destruction.
            </p>
        </div>
    
        <div>
            <div><img src="{% static './images/' %}"></div>
            <div><img src="{% static './images/' %}"></div>
        </div>

        <div>
            <h2>
                <li>Your Choices</li>
            </h2>
            <p>
                You can access, update, or delete your personal information by accessing your account
                <br>settings. You can also unsubscribe from marketing communications at any time.
            </p>
        </div>

        <div>
            <h2>
                <li>Contact Us</li>
            </h2>
            <p>
                If you have any questions about our Privacy Policy or how we handle your personal
                <br>information, please contact us at:
                [Your Company Name]
                <br>
                [Email Address]
                <br>
                [Phone Number]
                <br>
                [Address]
            </p>
        </div>
 
        <div>
            <div><img src="{% static './images/' %}"></div>
            <div><img src="{% static './images/' %}"></div>
        </div>

        <div>
            <h2>
                <li>Changes to Privacy Policy</li>
            </h2>
            <p>
                We may update our Privacy Policy from time to time. We will notify users of any changes via
                <br>email or through the platform. Continued use of the platform after such changes constitutes
                <br> acceptance of the new Privacy Policy.
            </p>
        </div>

    </ol>
</div>

{% endblock %}