{% extends 'base.html' %}
{% load static %}


{% block contents %}
<div class="update-body" style="background-image: url({% static './images/jacom_nature_backgroundimg.jpg' %})" >
    <!-- <div class="update-img-profile">
        <img src="{% static './images/jacom_nature_backgroundimg.jpg' %}">
    </div> -->
    <div class="update-profile">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p}}
            <input type="submit" value="save"/>
        </form>
    </div>
</div>
{% endblock %}